@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #666;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: #e1d1c2;
  color: #fff;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

header h1 {
  margin: 0;
  font-size: 4.5em;
  text-align: center;
}

main {
  flex: 1;
  padding: 8% 20% 8% 20%;
}

h2 {
  text-align: center;
  padding-top: 7%;
  padding-bottom: 3%;
  font-size: 40px;
}

p {
  text-align: center;
  padding-bottom: 1%;
  font-size: 20px;
}

/* ---------- Start Game button design ---------- */

#startGameBtn {
  margin-top: 10%;
  padding: 5%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#startGameBtn:disabled {
  display: none;
}

/* ---------- Game Board design ---------- */

#gameBoard {
  padding-top: 10px;
  display: none;
}

/* ---------- letterButtons design ---------- */

#letterButtons {
  display: inline-flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#letterButtons button:not(last-child) {
  margin: 4px 4px;
  cursor: pointer;
  max-width: 84px;
  min-width: 84px;
}

.btn {
  -moz-user-select: text;
  background-color: #fff;
  background: transparent;
  border-radius: 6px;
  border: 0;
  border: 2px solid #666;
  color: #666;
  cursor: pointer;
  display: block;
  font: inherit;
  line-height: normal;
  margin-bottom: 16px;
  margin: 0;
  overflow: visible;
  padding: 0;
  padding: 16px 36px 22px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn--stripe {
  overflow: hidden;
  position: relative;
}

.btn--stripe:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: -webkit-repeating-linear-gradient(
    45deg,
    #666,
    #666 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    45deg,
    #666,
    #666 1px,
    transparent 2px,
    transparent 5px
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}

.btn--stripe:disabled {
  background-color: #999;
  color: #fff;
  border-color: #666;
}

.btn--stripe:hover {
  background-color: #666;
  color: #fff;
  border-color: #000;
}

.btn--stripe:disabled:after,
.btn--stripe:hover:after {
  background-image: -webkit-repeating-linear-gradient(
    45deg,
    #fff,
    #fff 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 1px,
    transparent 2px,
    transparent 5px
  );
  border-top: 1px solid #000;
}

/* ---------- Restart Game button design ---------- */

#restartGameBtn {
  margin: 3% 30% 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

/* ---------- letterBoxes design ---------- */

#letterBoxes {
  display: flex;
  justify-content: center;
}

#letterBoxes input {
  border: 1px solid #666;
  color: #666;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
  padding: 20px 5px;
  margin: 4% 0% 4% 0%;
  width: 2em;
  text-align: center;
}

/* ---------- Images design ---------- */

#hangman,
#happy {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
}

/* ---------- message design ---------- */

#message {
  padding-top: 20px;
  font-size: 60px;
  text-align: center;
}

/* ---------- footer design ---------- */

footer {
  background-color: #e1d1c2;
  border-top: 1px solid #666;
  margin-top: 20px;
  padding: 15px;
  color: #fff;
  font-size: 1.25em;
  width: 100%;
  flex: none;
  text-align: center;
}

/* -------------- Mobile Responsivity -------------- */

@media only screen and (max-width: 800px) {
  header h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 10px;
  }
  main {
    padding: 30% 8% 6% 8%;
  }
  #startGameBtn {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .btn {
    padding: 8px 18px 11px;
  }
  #letterButtons button:not(last-child) {
    min-width: 0;
  }
  #letterBoxes input {
    padding: 8px 0;
    margin: 4% 0% 4% 0%;
    width: 1.5em;
    text-align: center;
  }
}