@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  color: #c2888c;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: calc(100vh - 60px);
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: #e1d1c2;
  color: #fff;
}

header h1 {
  margin: 0;
  font-size: 4.5em;
  text-align: center;
}

main {
  flex: 1;
  padding: 8% 20% 8% 20%;
}

h2 {
  text-align: center;
  padding-top: 7%;
  padding-bottom: 3%;
  font-size: 40px;
}

p {
  text-align: center;
  padding-bottom: 1%;
  font-size: 25px;
}

/* ---------- Start Game button design ---------- */

#startGameBtn {
  margin-top: 10%;
  padding: 5%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#startGameBtn:disabled {
  display: none;
}

/* ---------- Game Board design ---------- */

#gameBoard {
  padding-top: 10px;
  display: none;
}

#hint {
  padding: 16px;
}

/* ---------- letterButtons design ---------- */

#letterButtons {
  display: inline-flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#letterButtons button:not(last-child) {
  margin: 4px 4px;
  cursor: pointer;
  max-width: 84px;
  min-width: 84px;
}

.btn {
  border-radius: 6px;
  border: 2px solid #a48176;
  color: #a48176;
  cursor: pointer;
  margin-bottom: 16px;
  padding: 16px 0 16px 0;
  font-size: 25px;
  background-color: #f3edef;
}

.btn--stripe:disabled {
  background-color: #a48176;
}

.btn:hover {
  background-color: #e1d1c2;
}

/* ---------- Restart Game button design ---------- */

#restartGameBtn {
  margin: 3% 30% 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

/* ---------- letterBoxes design ---------- */

#letterBoxes {
  display: flex;
  justify-content: center;
}

#letterBoxes input {
  border: 1px solid #c2888c;
  border-radius: 6px;
  color: #a48176;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
  padding: 20px 5px;
  margin: 1% 1% 1% 1%;
  width: 2em;
  text-align: center;
}

/* ---------- Images design ---------- */

img {
    width: 60%;
    color: #c2888c;
}

#hangman, 
#happy {
  display: inline-block;
}

/* ---------- message design ---------- */

#message {
  padding-top: 20px;
  font-size: 60px;
  text-align: center;
}

/* ---------- footer design ---------- */

footer {
  background-color: #e1d1c2;
  border-top: 1px solid #a48176;
  margin-top: 20px;
  padding: 15px;
  color: #fff;
  font-size: 1.25em;
  width: 100%;
  flex: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* -------------- Mobile Responsivity -------------- */

@media only screen and (max-width: 800px) {
  header h1 {
    font-size: 20px;
  }
  body {
    background-image: url(/images/background-mobile.jpg);
    background-position: center;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 10px;
    padding-bottom: 5%;
  }
  main {
    padding: 5% 8% 6% 8%;
  }
  #startGameBtn {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #hint {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    font-size: 16px;
    padding: 8px;
  }
  .btn {
    padding: 8px 18px 11px;
  }
  #letterButtons button:not(last-child) {
    min-width: 0;
  }
  #letterBoxes input {
    padding: 8px 0;
    margin: 4% 0% 4% 0%;
    width: 1.5em;
    text-align: center;
  }
  #restartGameBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
    width: 60%;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}